.banner {
    width: 100%;
    position: relative;
    height: 460px;
}
.banner .lunbo:first-child{
    width: 100%;
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/bannerdz01.png') no-repeat center top;
}
.banner .lunbo:nth-child(2) {
    width: 100%;
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/banner2.jpg') no-repeat center top;
    display: none;
}
.banner .lunbo:nth-child(3) {
    width: 100%;
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/banner3.jpg') no-repeat center top;
    display: none;
}
.banner .lunbo:first-child .aside {
    width: 460px;
    padding-left: 540px;
    padding-top: 60px;
    margin: 0 auto;
    position: relative;
}
.banner .lunbo:first-child  .aside .top {
    height: 66px;
    margin-bottom: 17px;
}
.banner .lunbo:first-child .aside .top img:first-child {
    float: left;
}
.banner .lunbo:first-child .aside .top .text {
    float: left;
    margin-left: 12px;
    color: white;
}
.banner .lunbo:first-child .aside .top .text h2 {
    line-height: 48px;
    height: 48px;
    font-size: 40px;
}
.banner .lunbo:first-child .aside .top .text p {
    font-size: 10px;
}
.banner .lunbo:first-child .aside .top dl {
    float: right;
    width: 116px;
    color: black;
}
.banner .lunbo:first-child .aside .top dl dt {
    background: url('../images/online.png') no-repeat 0 0;
    width: 99px;
    height: 37px;
    line-height: 37px;
    padding-left: 17px;
    font-size: 12px;
}
.banner .lunbo:first-child .aside .top dl:hover dt {
    background: url('../images/online.png') no-repeat -120px 0px;
}
.banner .lunbo:first-child .aside .top dl:hover dd {
    display: block;
}
.banner .lunbo:first-child .aside .top dl dt a {
    color: #000;
    display: block;
    height: 37px;
}
.banner .lunbo:first-child .aside .top dl dd {
    background-color: #fdfdfd;
    display: none;
    height: 60px;
    overflow: hidden;
    padding-left: 5px;
    border-radius: 0 0 5px 5px ;
    position: absolute;
}
.banner .lunbo:first-child .aside .top dl dd a {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 2px;
    margin-top:3px;
    background: url(../images/online.png) no-repeat 0 -46px;
}
.banner .lunbo:first-child .aside .top dl dd a:nth-child(2) {
    background-position: -25px -46px;
}
.banner .lunbo:first-child .aside .top dl dd a:nth-child(3) {
    background-position: -50px -46px;
}
.banner .lunbo:first-child .aside .top dl dd a:nth-child(4) {
    background-position: -75px -46px;
}
.banner .lunbo:first-child .aside .top dl dd a:nth-child(5) {
    margin-top:5px;
    background-position: -100px -46px;
}
.banner .lunbo:first-child .aside .top dl:hover dt a {

}



.banner .lunbo:first-child .aside span:first-of-type {
    display: block;
    width: 435px;
    color: white;
    line-height: 30px;
    height: 61px;
    font-size: 14px;
}

.banner .lunbo:first-child .aside span:last-of-type {
    background: url('../images/download.png') no-repeat 3px -35px;
    font-size: 18px;
    display: block;
    color: #fbc660;
    padding-left: 25px;
}

.banner .lunbo:first-child .aside .down {
    margin-top: 10px;
    overflow: hidden;
}
.banner .lunbo:first-child .aside .down ul li {
    float: left;
}
.banner .lunbo:first-child .aside .down ul li a {
    display: block;
    width: 83px;
    height: 50px;
    padding-top: 56px;
    line-height: 50px;
    text-align: center;
    color: white;
    margin-right: 1px;
}
.banner .lunbo:first-child .aside .down ul li:first-child a {
    background: url('../images/pad.png') #6e52d5 no-repeat -212px -181px;
    border-radius: 8px 0 0 8px;
}
.banner .lunbo:first-child .aside .down ul li:nth-child(2) a {
    background: url('../images/pad.png') #6e52d5 no-repeat -219px 17px;
}
.banner .lunbo:first-child .aside .down ul li:nth-child(3) a {
    background: url('../images/pad.png') #6e52d5 no-repeat -219px -79px;
}
.banner .lunbo:first-child .aside .down ul li:nth-child(4) a {
    background: url('../images/pad.png') #6e52d5 no-repeat -216px -480px;
}
.banner .lunbo:first-child .aside .down ul li:last-child {
    width: 111px;
    height: 106px;
    background: url('../images/dezewm3.png') #cabef0 no-repeat center;
    border-radius: 0 8px 8px 0;
}
.banner .lunbo:first-child .aside .down ul li a:hover {
    background: url('../images/pad.png') #cabef0 no-repeat 30px -181px;
    color: #323232;
}
.banner .lunbo:first-child .aside .down ul li:nth-child(2) a:hover {
    background: url('../images/pad.png') #cabef0 no-repeat 26px 17px;
}
.banner .lunbo:first-child .aside .down ul li:nth-child(3) a:hover {
    background: url('../images/pad.png') #cabef0 no-repeat 22px -79px;
}
.banner .lunbo:first-child .aside .down ul li:nth-child(4) a:hover {
    background: url('../images/pad.png') #cabef0 no-repeat 21px -480px;
}




.banner .lunbo:nth-child(3) .aside {
    width: 460px;
    padding-left: 540px;
    padding-top: 60px;
    margin: 0 auto;
    position: relative;
}
.banner .lunbo:nth-child(3)  .aside .top {
    height: 66px;
    margin-bottom: 17px;
}
.banner .lunbo:nth-child(3) .aside .top img:first-child {
    float: left;
}
.banner .lunbo:nth-child(3) .aside .top .text {
    float: left;
    margin-left: 12px;
    color: white;
}
.banner .lunbo:nth-child(3) .aside .top .text h2 {
    line-height: 48px;
    height: 48px;
    font-size: 40px;
}
.banner .lunbo:nth-child(3) .aside .top .text p {
    font-size: 10px;
}

.banner .lunbo:nth-child(3) .aside span:first-of-type {
    display: block;
    width: 435px;
    color: white;
    line-height: 30px;
    height: 61px;
    font-size: 14px;
}

.banner .lunbo:nth-child(3) .aside span:last-of-type {
    background: url('../images/download.png') no-repeat 3px -35px;
    font-size: 18px;
    display: block;
    color: #fbc660;
    padding-left: 25px;
}

.banner .lunbo:nth-child(3) .aside .down {
    margin-top: 10px;
    overflow: hidden;
}
.banner .lunbo:nth-child(3) .aside .down ul li {
    float: left;
}
.banner .lunbo:nth-child(3) .aside .down ul li a {
    display: block;
    width: 83px;
    height: 50px;
    padding-top: 56px;
    line-height: 50px;
    color: #323232;
    text-align: center;
    margin-right: 1px;
}
.banner .lunbo:nth-child(3) .aside .down ul li:first-child a {
    background: url('../images/pad.png') rgba(255,255,255,0.5) no-repeat 30px -181px;
    border-radius: 8px 0 0 8px;
}
.banner .lunbo:nth-child(3) .aside .down ul li:nth-child(2) a {
    background: url('../images/pad.png') rgba(255,255,255,0.5) no-repeat 26px 17px;
}
.banner .lunbo:nth-child(3) .aside .down ul li:nth-child(3) a {
    background: url('../images/pad.png') rgba(255,255,255,0.5) no-repeat 22px -79px;
}
.banner .lunbo:nth-child(3) .aside .down ul li:nth-child(4) a {
    background: url('../images/pad.png') rgba(255,255,255,0.5) no-repeat 21px -480px;
}
.banner .lunbo:nth-child(3) .aside .down ul li:last-child {
    width: 111px;
    height: 106px;
    background: url('../images/dezewm3.png') rgba(255,255,255,0.5) no-repeat center;
    border-radius: 0 8px 8px 0;
}
.banner .lunbo:nth-child(3) .aside .down ul li a:hover {
    background: url('../images/pad.png') #cabef0 no-repeat -212px -181px;
    color: white
}
.banner .lunbo:nth-child(3) .aside .down ul li:nth-child(2) a:hover {
    background: url('../images/pad.png') #cabef0 no-repeat -219px 17px;
    color: white
}
.banner .lunbo:nth-child(3) .aside .down ul li:nth-child(3) a:hover {
    background: url('../images/pad.png') #cabef0 no-repeat -219px -79px;
    color: white
}
.banner .lunbo:nth-child(3) .aside .down ul li:nth-child(4) a:hover {
    background: url('../images/pad.png') #cabef0 no-repeat -216px -480px;
    color: white
}
.banner .lunbo:nth-child(3) .aside .top dl {
    float: right;
    width: 116px;
    color: black;
}
.banner .lunbo:nth-child(3) .aside .top dl dt {
    background: url('../images/online.png') no-repeat 0 0;
    width: 99px;
    height: 37px;
    line-height: 37px;
    padding-left: 17px;
    font-size: 12px;
}
.banner .lunbo:nth-child(3) .aside .top dl:hover dt {
    background: url('../images/online.png') no-repeat -120px 0px;
}
.banner .lunbo:nth-child(3) .aside .top dl:hover dd {
    display: block;
}
.banner .lunbo:nth-child(3) .aside .top dl dt a {
    color: #000;
    display: block;
    height: 37px;
}
.banner .lunbo:nth-child(3) .aside .top dl dd {
    background-color: #fdfdfd;
    display: none;
    height: 60px;
    overflow: hidden;
    padding-left: 5px;
    border-radius: 0 0 5px 5px ;
    position: absolute;
}
.banner .lunbo:nth-child(3) .aside .top dl dd a {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 2px;
    margin-top:3px;
    background: url(../images/online.png) no-repeat 0 -46px;
}
.banner .lunbo:nth-child(3) .aside .top dl dd a:nth-child(2) {
    background-position: -25px -46px;
}
.banner .lunbo:nth-child(3) .aside .top dl dd a:nth-child(3) {
    background-position: -50px -46px;
}
.banner .lunbo:nth-child(3) .aside .top dl dd a:nth-child(4) {
    background-position: -75px -46px;
}
.banner .lunbo:nth-child(3) .aside .top dl dd a:nth-child(5) {
    margin-top:5px;
    background-position: -100px -46px;
}
.banner .lunbo:nth-child(3) .aside .top dl:hover dt a {

}
.banner ul.btn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -45px;
}
.banner ul.btn li {
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: rgba(255,255,255,0.6);
    cursor: pointer;
}
.banner ul.btn li.active {
    background-color: rgba(255,255,255,1);
}